.newSession{
    margin: 0px 20px;
    padding: 10px;
    
    button {
        color: #fff;
        background-color: #0d6efd;
        border: none;
        padding: 10px;
        margin: 10px;
        
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .ContentAPI{
        max-height: 400px;
        overflow-y: scroll;
    }
}