.newSession{
    margin: 0px 20px;
    padding: 10px;
    
    button {
        color: #fff;
        background-color: #0d6efd;
        border: none;
        padding: 10px;
        margin: 5px 0px;
        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }
    .ContentAPI{
        max-height: 400px;
        overflow-y: scroll;
    }
    .light{
        padding: 10px;
        transition: 0.5s;
    }
    .dark{
        padding: 10px;
        color: antiquewhite;
        background-color: #1e1e1e;
        transition: 0.5s;
        
    }
}