:root {
  --color-primary: rgb(158, 255, 255);
  --color-primary-50: rgb(158, 255, 255, 0.5);
  --color-secondary: rgb(0, 255, 249);
  --color-third: #0d1714;
  --color-third-30: rgb(13, 23, 20, 0.3);
  --color-accent: #080e0c;
  --color-link: #00cfff;
  --color-text-title: #b6ffff;
  --color-text-secondary: #d9ffde;
  --color-text-secondary-10: rgba(217, 255, 222, 0.1);
  --color-text-secondary-50: rgba(217, 255, 222, 0.5);
  --color-border: rgba(0, 225, 250, 0.5);
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #00f4f4;
  --linear-primary: linear-gradient(314deg, #00cfff 0%, #00f4f4 100%);
  --linear-primary-10: linear-gradient(314deg, rgba(0, 207, 255, 0.1) 0%, rgba(0, 244, 244, 0.1) 100%);
  --linear-primary-50: linear-gradient(314deg, rgba(0, 207, 255, 0.7) 0%, rgba(0, 244, 244, 0.7) 100%);
  --shadow-primary: 0 0 6px rgba(158, 255, 255, 0.5), 0 0 12px rgba(158, 255, 255, 0.5);
  --border: 1px solid #00f4f4;
}

#root {
  background-color: #080e0c;
  min-height: 100vh;
}

body {
  scroll-behavior: smooth;
  font-family: "Be Vietnam Pro", sans-serif !important;
  overflow-x: clip;
}

::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: var(--color-accent);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--color-accent);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(217, 255, 222, 0.2);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

img {
  max-width: 100%;
}
a,
.MuiLink-root {
  text-decoration: none;
  color: var(--color-primary);
}
.Toastify__toast {
  position: relative;
  border-radius: 16px;
  &::before {
    content: "";
    position: absolute;
    inset: 0px;
    border-radius: 16px;
    padding: 1px;
    background: var(--linear-primary);
    -webkit-mask:
      linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px) content-box content-box,
      linear-gradient(rgb(255, 255, 255) 0px, rgb(255, 255, 255) 0px);
    -webkit-mask-composite: xor;
    z-index: -1;
  }
}

.MuiBackdrop-root {
  backdrop-filter: blur(2px);
}

.MuiTypography-root {
  font-family: "Be Vietnam Pro", sans-serif !important;
}
@media (max-width: 576px) {
  .MuiTypography-body1 {
    font-size: 14px !important;
  }
}
