.post-list {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    .post-item {
        max-width: 45%;
        padding: 20px;
        input:placeholder {
            color: darkcyan;
        }
        img {
            object-fit: cover;
            height: 250px;
            width: 100%;
        }
        .author {
            float: left;
            margin-left: 0;
            color: darkblue;
        }
        .readmore {
            float: right;
            color: #fff;
            background-color: #0d6efd;
            border: none;
            padding: 10px;
            margin: 10px;
            &:hover {
                opacity: 0.8;
                cursor: not-allowed;
            }
        }
    }
}

.form {
    label {
        font-size: 20px;
        color: darkblue;
        margin-right: 20px;
    }
    button {
        color: #fff;
        background-color: #0d6efd;
        border: none;
        padding: 10px;
        margin: 10px;
        &:hover {
            opacity: 0.8;
        }
    }
}
