$primary-color:#18B8C6;
$second-color:#41D1DC;
$third-color:#9CE2EA;
$text-color: #3A383D;
$accent-color:#DC4C41;

body {
  overflow-x: auto;
  overflow-x: clip;
}
h1,h2,h3,h4,p,span{
  color: $text-color;
}
h1{
  font-size: 44px;
}
h2{
  font-size: 32px;
}

.Hidden-Mobile{
  display: block;
}
//-------Header------
.navLink {
  color: aliceblue;
  text-decoration: none;
}

//-------- Carousel Porfolio -----------
.carouselPorfolio {
  margin-bottom: 80px;


  .slick-track{
    .slick-slide{
      transform: scale(.5);
      transition: 300ms;
    }
    .slick-current + .slick-active{
      transform: scale(1);
      transition: 300ms;
    }
  }

  .slick-prev:before, .slick-next:before{
    color: $third-color;
    font-size: 30px;
  }
  .slick-dots{
    margin-bottom: -30px;
    li{
      margin: 0;
    }
    button:before{
      color: $text-color;
    }
  }
}
.carousalLanguages{
  .slick-prev:before, .slick-next:before{
    color: $primary-color;
    font-size: 30px;
  }
  .slick-dots{
    margin-bottom: -30px;
    li{
      margin: 0;
    }
    button:before{
      color: #231F20;
    }
  }

}


@media (max-width: 899px) {
  h1{
    font-size: 32px;
  }
  h2{
    font-size: 28px;
  }
  .Hidden-Mobile{
    display: none;
  }
}