body {
  margin: 0;
  font-family: Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
/*    
  padding-left: calc(50vw - 570px);
  padding-right: calc(50vw - 570px); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
